* {
    font-family: 'urbanist';
}

body {
    margin: 16px 32px;
}

p {
    font-size: 12px;
}

h3 {
    margin-top: 0;
    margin-left: 24px;
}

h4 {
    margin-top: 0;
    margin-left: 36px;
}

h5 {
    margin-top: 0;
    margin-left:48px;
}

/* header */

/* key-colors section */

.accent-colors, .neutral-colors, 
.color-hero{
    display: flex;
}

.left, 
.neutral-colors > h4 {
    width: 20%; 
}

.color-hero div {
    display: flex;
    flex-direction: column;
}

.color-box {
    height: 128px;
    width: 192px;
    display: flex;
    align-items: flex-end;
    padding: 12px;
    margin: 0 12px;
}

.color-text {
    width: 192px;
    padding: 12px;
    margin: 0 12px;
}

#BE3455 {
    background-color: #BE3455;
}

#AC888B {
    background-color: #AC888B;
}

#B08A5E {
    background-color: #B08A5E;
}

#c988E8F {
    background-color: #988e8f;
}

#c9F8C8E {
    background-color: #9F8C8E;
}

